body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .user-actions {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .user-actions a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 150px;
    z-index: 1000;
    max-width: 180px; /* Limit dropdown width */
    width: 100%; /* Ensure the dropdown width matches its container */
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li {
    padding: 10px 20px;
  }
  
  .dropdown ul li a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown ul li a:hover {
    background-color: #4d4f4d;
    color: white;
    max-height: 50px;
    max-width: 100%;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-sections div {
    flex: 1;
    padding: 10px;
    min-width: 250px;
  }
  
  .footer-sections h4 {
    margin-bottom: 10px;
  }
  
  .footer-sections ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-sections ul li {
    margin-bottom: 5px;
  }
  
  .footer-sections ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer-social {
    text-align: center;
    margin: 20px 0;
  }
  
  .footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  footer p {
    text-align: center;
    margin: 0;
  }